@inherits LayoutComponentBase
@using OneSmallStep.Events
@using OneSmallStep.Pages
@using EventAggregator.Blazor
@implements IHandle<OneSmallStep.Events.StartRecipeEvent>
@implements IHandle<OneSmallStep.Events.RecipeFinishedEvent>
@inject IEventAggregator EventAggregator

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @if (!_recipe.HasValue)
            {
                if (!_noRender)
                {
                    <OneSmallStep.Pages.Index/>
                }
            }
            else
            {
                <Recipe RecipeId="@_recipe.Value"></Recipe>
            }
        </div>
    </div>
</div>

@code
{
    private int? _recipe;
    private bool _noRender = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();
            EventAggregator.Subscribe(this);
        }
        catch (Exception ex)
        {
        }
    }

    public async Task HandleAsync(StartRecipeEvent recipe)
    {
        if (_recipe != null)
        {
            _noRender = true;
            await HandleAsync(new RecipeFinishedEvent());
            await Task.Delay(10);
            _noRender = false;
        }

        _recipe = recipe.RecipeId;

        await InvokeAsync(StateHasChanged);
    }

    public async Task HandleAsync(RecipeFinishedEvent recipe)
    {
        _recipe = null;

        await InvokeAsync(StateHasChanged);
    }
}
