@using Toolbelt.Blazor.SpeechSynthesis
@inject SpeechSynthesis SpeechSynthesis

<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center mt-5">
            <h1>@Welcome</h1>
        </div>
    </div>
    
    <div class="row"></div>
    <div class="row"></div>
    
    <div class="row mt-5">
        <div class="col d-flex justify-content-start">
            <h3><span class="oi oi-arrow-thick-left" aria-hidden="true"></span> @GetStarted</h3>
        </div>
    </div>

</div>

@code
{
    private const string Welcome = "Welcome to sktl!";
    private const string GetStarted = "To get started select a recipe on the left";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await Task.Delay(500);
            SpeechSynthesis.Speak(Welcome);
            SpeechSynthesis.Speak(GetStarted);
        }
    }
}
